<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head prefix="og: http://ogp.me/ns#  ogex-ice: http://ogp.me/ns/fb/ogex-ice#">
    <meta charset="utf-8">
    <title>Open Graph Example</title>
    <meta property="http://ogp.me/ns/fb#app_id" content="487761797915426">
    <meta property="og:type" content="ogex-ice:example">

    <meta property="og:locale" content="en_US">

    <meta property="og:title" content="{{the_name}}">
    <meta property="og:site_name" content="OpenGraph Example">
    <meta property="og:determiner" content="the">
    <meta property="og:description" content="{{the_desc}}">

    <meta property="og:url" content="http://emmerling-sandbox.appspot.com/">
  <link rel="canonical" href="http://emmerling-sandbox.appspot.com/">

  <meta property="og:image" content="http://emmerling-sandbox.appspot.com/static/img/no-image-own.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="155">
  <meta property="og:image:height" content="155">
    <link href="/static/brunch/css/main.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <script src="/static/brunch/js/app.js"></script>
    <script>require('main');</script>
  </head>
  <body>
    <div id="fb-root"></div>
      <script src="http://connect.facebook.net/en_US/all.js"></script>
      <script>
          FB.init({
            appId      : '487761797915426',
            status     : true, 
            cookie     : true,
            xfbml      : true,
            oauth      : true
          });
      </script>
    <div id="content-area"></div>
  </body>
</html>
